NikeMCPClient.json
{
  "name": "NikeMCPClient",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "45a57c13-d591-42a0-9adf-3bb27eb3d6fc",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*",
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET, POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type, Accept"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        500,
        320
      ],
      "id": "59ddd576-e715-4eea-b62f-52d615b26c7a",
      "name": "Webhook",
      "webhookId": "45a57c13-d591-42a0-9adf-3bb27eb3d6fc"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.message }}",
        "options": {
          "systemMessage": "You are a Nike China KOL research assistant. RULES:\n1) NEVER ask clarifying questions. Execute immediately.\n2) Use the Apify RAG Web Browser tool to search for KOLs and influencers.\n3) Use the Firecrawl tool to scrape detailed profile pages.\n4) If a tool fails, skip it and use your training knowledge.\n5) Always return a structured KOL report - never return questions.\n6) For each KOL: Name, Platform, Handle, Followers, Engagement Rate, Niche, Nike Fit, Profile URL."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        720,
        320
      ],
      "id": "b3392354-7d2f-4ff9-a2b5-2c59c59a6463",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ output: $json.output || $json.text || '' }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        940,
        320
      ],
      "id": "a1b2c3d4-respond-node-001",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        620,
        520
      ],
      "id": "25ec91fa-88bf-413f-8c65-219d610e02e8",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "Hu8cP5b0Yhomo7VM",
          "name": "OpenAi API Key (Alfred Account)"
        }
      }
    },
    {
      "parameters": {
        "actorId": {
          "__rl": true,
          "value": "3ox4R101TgZz67sLr",
          "mode": "list",
          "cachedResultName": "RAG Web Browser (apify/rag-web-browser)",
          "cachedResultUrl": "https://console.apify.com/actors/3ox4R101TgZz67sLr/input"
        }
      },
      "type": "@apify/n8n-nodes-apify.apifyTool",
      "typeVersion": 1,
      "position": [
        820,
        520
      ],
      "id": "55d7f05d-f002-40f2-80cf-2920fb876ef3",
      "name": "Run an Actor in Apify",
      "credentials": {
        "apifyApi": {
          "id": "c5iNTUewKUCydx1y",
          "name": "Apify account"
        }
      }
    },
    {
      "parameters": {
        "operation": "scrape",
        "parsers": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Parsers', ``, 'string') }}",
        "requestOptions": {}
      },
      "type": "@mendable/n8n-nodes-firecrawl.firecrawlTool",
      "typeVersion": 1,
      "position": [
        1020,
        520
      ],
      "id": "91d9db81-a591-45cb-8f9f-089bd6d03abe",
      "name": "/scrape in Firecrawl",
      "credentials": {
        "firecrawlApi": {
          "id": "0ccNJwdBF1Bd2U9F",
          "name": "Firecrawl account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Run an Actor in Apify": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "/scrape in Firecrawl": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "fbd8f485-54a9-42d3-b616-c553bc343400",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "dd9d815cb100cab73a9cd63cc3f30fd090e73e9edbdc09a51a025bdf1bf015af"
  },
  "id": "kcUqkERIUexZWeDL",
  "tags": []
}
