NikeMCPClient.json
{
  "name": "NikeMCPClient",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "45a57c13-d591-42a0-9adf-3bb27eb3d6fc",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*",
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET, POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type, Accept"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        500,
        320
      ],
      "id": "59ddd576-e715-4eea-b62f-52d615b26c7a",
      "name": "Webhook",
      "webhookId": "45a57c13-d591-42a0-9adf-3bb27eb3d6fc"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'processing', executionId: $execution.id }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        720,
        200
      ],
      "id": "a1b2c3d4-respond-node-001",
      "name": "Respond Immediately"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Webhook').first().json.body.message }}",
        "options": {
          "systemMessage": "You are a Nike China KOL research assistant. RULES:\n1) NEVER ask clarifying questions. Execute immediately.\n2) Use the Apify RAG Web Browser tool FIRST to search for KOLs.\n3) Then use the Firecrawl tool to scrape detailed profile pages.\n4) If a tool fails, skip it and use your training knowledge.\n5) Always return a structured KOL report - never return questions.\n6) For each KOL: Name, Platform, Handle, Followers, Engagement Rate, Niche, Nike Fit, Profile URL."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        720,
        440
      ],
      "id": "b3392354-7d2f-4ff9-a2b5-2c59c59a6463",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nstaticData[$execution.id] = $json.output || $json.text || JSON.stringify($json);\nreturn [{ json: { success: true } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        940,
        440
      ],
      "id": "c2d3e4f5-store-result-001",
      "name": "Store Result"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        620,
        640
      ],
      "id": "25ec91fa-88bf-413f-8c65-219d610e02e8",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "Hu8cP5b0Yhomo7VM",
          "name": "OpenAi API Key (Alfred Account)"
        }
      }
    },
    {
      "parameters": {
        "endpointUrl": "https://n8n.srv923061.hstgr.cloud/mcp/67712673-9552-4041-a8e2-32ed2f38e11a",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.2,
      "position": [
        820,
        640
      ],
      "id": "772abdd5-9600-4040-8325-70ee78cedd81",
      "name": "MCP Client"
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "45a57c13-result",
        "responseMode": "lastNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        500,
        800
      ],
      "id": "f1e2d3c4-result-webhook",
      "name": "Result Webhook",
      "webhookId": "45a57c13-result"
    },
    {
      "parameters": {
        "jsCode": "const id = $json.query.id;\nconst staticData = $getWorkflowStaticData('global');\nconst result = staticData[id];\nif (result) {\n  delete staticData[id];\n  return [{ json: { status: 'done', output: result } }];\n}\nreturn [{ json: { status: 'processing' } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        800
      ],
      "id": "d4e5f6a7-check-result",
      "name": "Check Result"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Respond Immediately",
            "type": "main",
            "index": 0
          },
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Store Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "MCP Client": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Result Webhook": {
      "main": [
        [
          {
            "node": "Check Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "fbd8f485-54a9-42d3-b616-c553bc343400",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "dd9d815cb100cab73a9cd63cc3f30fd090e73e9edbdc09a51a025bdf1bf015af"
  },
  "id": "kcUqkERIUexZWeDL",
  "tags": []
}
