NikeMCPClient.json
{
  "name": "NikeMCPClient",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "45a57c13-d591-42a0-9adf-3bb27eb3d6fc",
        "responseMode": "lastNode",
        "options": {
          "allowedOrigins": "*",
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET, POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type, Accept"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        11184,
        5552
      ],
      "id": "9ce33dc6-c4fa-4510-9518-98fbb675e7b9",
      "name": "Webhook",
      "webhookId": "45a57c13-d591-42a0-9adf-3bb27eb3d6fc"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.message }}",
        "options": {
          "systemMessage": "You are a Nike China KOL research assistant.\n\nYou MUST use your tools. Do NOT answer from memory. Do NOT skip tools.\n\nSTEP 1 (MANDATORY): Call the 'Search the web using Apify' tool with a relevant search query like 'basketball KOL influencer China Xiaohongshu Nike'.\nSTEP 2 (MANDATORY): Call the '/scrape in Firecrawl' tool with profile URLs found in Step 1.\nSTEP 3: Compile the results into a structured KOL report.\n\nNEVER ask clarifying questions. NEVER skip the tool calls. You MUST call at least one tool before responding."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        11408,
        5552
      ],
      "id": "a224a9e0-7fae-455f-9640-514ee73334ab",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "endpointUrl": "https://n8n.srv923061.hstgr.cloud/mcp/67712673-9552-4041-a8e2-32ed2f38e11a",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.2,
      "position": [
        11504,
        5760
      ],
      "id": "b03fab9e-60a0-407d-9afd-4efe3a01653a",
      "name": "MCP Client"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        11280,
        5760
      ],
      "id": "1810ace3-6f70-4357-acc1-f648fd5d5a86",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "6CoLqNfdsegewcoH",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MCP Client": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "70390876-9fa4-408a-9b06-88ec79a6ce77",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "dd9d815cb100cab73a9cd63cc3f30fd090e73e9edbdc09a51a025bdf1bf015af"
  },
  "id": "kcUqkERIUexZWeDL",
  "tags": []
}